# CONFIG_ALL_NONSHARED is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL is not set
CONFIG_SIGNED_PACKAGES=y
# CONFIG_SELINUX is not set
CONFIG_PACKAGE_dnsmasq-dhcpv6=y
CONFIG_PACKAGE_qmp-big-node=m
CONFIG_PACKAGE_qmp-small-node=m
CONFIG_PACKAGE_qmp-tiny-node=m
CONFIG_LUCI_SRCDIET=y
CONFIG_PACKAGE_lunced=m
CONFIG_PACKAGE_nc=m
CONFIG_PACKAGE_b6m=m
CONFIG_PACKAGE_qmp-ncd=m
CONFIG_PACKAGE_qmp-ncgui=m
